mat-form-field {
    margin-right: 15px;
  }
  .mat-dialog-title {
    color:  rgb(75, 11, 224);;
} 
textarea {
  width: 100%;
  height: 100px;
}
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}