<mat-toolbar color="primary" class="red-container">
  <mat-toolbar-row>
    <img alt="My image name" src="./assets/logo.png">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()&&objectsTbl()">menu</mat-icon>
    </button>
    <h1>Sales</h1>
    <span class="menu-spacer"></span>

    <div>
      <span class="spacer"></span>
      <a mat-button [routerLink]="'/menu'"> Menu </a>

    </div>
    <span class="flexExpand"></span>
    <div>
      <a>Welcome {{ Username}}</a>
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" class="red-container">
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of PROCESS" [routerLink]="['module',nav.PROCESS_ID]">
        {{nav.DISPLAY_NAME}}</a>
        <!--  <a mat-list-item [routerLink]="['Lead',nav.OBJECT_ID]" > Leads </a>
     <a mat-list-item (click)="objects('getfirstobject',1)"> Accounts </a>
      <a mat-list-item (click)="objects('GetContact',2)"> Contacts </a>
      <a mat-list-item (click)="objects('GetCampaigns',3)"> Campaigns </a>
      <a mat-list-item (click)="objects('GetLeads',4)"> Lead </a>
      
      <a mat-list-item [routerLink]="['account']" routerLinkActive="router-link-active no-border"> Accounts </a>
      <a mat-list-item [routerLink]="['GetContact']"> Contacts </a>
      <a mat-list-item [routerLink]="['Campaign']"> Campaigns </a>
      <a mat-list-item (click)="leads('getfirstobject')"> Lead </a>
      <a mat-list-item [routerLink]="'/Opportunity'"> Opportunity </a>
      <a mat-list-item [routerLink]="'/Project'"> Project </a>
      <a mat-list-item [routerLink]="'/task'"> Tasks </a>
      <a mat-list-item [routerLink]="'/files'"> Files </a>
      <a mat-list-item [routerLink]="'/calendar'"> Calendar </a>
      <a mat-list-item [routerLink]="'/reports'"> Reports </a>
-->
      <!--<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <div style="height: 89vh;">

     <router-outlet></router-outlet>
     
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>